.price-list-content-wrapper {
  color: #2c3e50;
  background: white;
  transition: all 0.35s;
}
.price-list-content-wrapper p {
  color:rgb(75, 74, 74);
  padding: 5vw;
}
@media screen and (min-width: 768px) {

  div ~ .price-list-content-wrapper {
    max-height: 100vh;
  }
  .price-list-content-wrapper p {
    padding: 2vw;
  }
}
