.footer-wrapper {
  background-color: #2c3e50;
  display: flex;
  height: 100vh;
}

.footer-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  align-items: center;
  width: 100%;
  height: 90vh;
}

.footer-wrapper-first {
  /* background-color: aliceblue; */
  width: 90%;
  height: 90vh;
}
.footer-wrapper-first a {
  color: whitesmoke;
}

@media screen and (min-width: 768px) {
  .footer-wrapper {
    height: 60vh;
  }

  .footer-content {
    flex-direction: row;
    width: 90%;
    height: auto;
    margin: 0 auto;
    gap: 2vw;
    margin-top: 6vw;
  }

  .footer-wrapper-first {
    width: 25%;
    height: 20vw;
  }

  .footer-wrapper-second {
    width: 25%;
    height: 20vw;
  }

  .footer-wrapper-third {
    width: 25%;
    height: 20vw;
  }
  .footer-wrapper-first a {
    font-size: 2vw;
  }
}
