.content-wrapper {
  display: flex;
  flex-direction: column;
  gap: 2vw;
  padding-top: 30vw;
}

.content-wrapper ul {
  list-style: none;
  background-color: #88c1d821;
  padding: 3vw;
}

.content-wrapper li {
  margin-bottom: 1vw;
}

.content-container-info {
  font-size: 3.6vw;
  color: var( --color-gray);
}

.content-image {
  width: 100%;
}

.content-image img {
  width: 100%;
  height: auto;
}
.content-container {
  width: 90%;
  margin: 0 auto;
}

.content-container h1 {
  text-align: center;
  margin-bottom: 1vw;
  color: rgb(71, 71, 71);
}

@media screen and (min-width: 768px) {
  .content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 2vw;
    padding-top: 10vw;
  }

  .content-wrapper-content-container {
    display: flex;
    gap: 4vw;
  }
  .content-wrapper ul {
    list-style: none;
    padding: 0.5vw;
    width: 90%;
    padding: 1.5vw;
    text-align: justify;
    text-justify: inter-word;
  }
  .content-wrapper li {
    margin: 0 auto;
    margin-left: 1vw;
    margin-bottom: 0.5vw;
  }

  .content-container-info {
    font-size: 1.1vw;
    color: var( --color-gray);
  }

  .content-image {
    width: 50%;
  }

  .content-image img {
    width: 100%;
    height: auto;
    border-radius: 1vw;
    border-bottom-right-radius: 4vw;
  }

  .content-container h1 {
    margin-bottom: 1vw;
    color: rgb(71, 71, 71);
  }
}
