.price-list-headers-wrapper {
}

.price-list-wrapper-single-title {
  display: flex;
  padding: 1em;
  font-weight: bold;
  color: var(--color-gray);
  font-size: 4.4vw;
}

.price-list-wrapper-single-title:-webkit-any-link {
  cursor: none;
}

@media screen and (min-width: 768px) {
  .price-list-headers-wrapper {
  }

  .price-list-headers-content {
    display: flex;
    align-items: center;
    margin-left: 3vw;
  }

  .price-list-wrapper-single-title {
    display: flex;
    padding: 2em;
    /* background: #2c3e50; */
    font-weight: bold;
    cursor: pointer;
    color: var(--color-gray);
    font-size: 1.1vw;
    transition: 0.2s ease-in-out;

  }
  .price-list-wrapper-single-title:hover{
    cursor: pointer;
  }

  .price-list-headers-icon {
    color: var(--color-gray);
    font-size: 1.3vw;
    margin-right: 0.5vw;
    transition: 0.2s ease-in-out;
  }
}
