.footer-useful-pages {
  width: 90%;
  height: 90vh;
}

.footer-useful-content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

@media screen and (min-width: 768px) {
  .footer-useful-pages {
    width: 25%;
    height: 20vw;
  }
}
