.blog-wrapper {
}

.blog-wrapper-grid {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 85%;
  margin-top: 7vw;
}

@media screen and (min-width: 768px) {
  .blog-wrapper {
  }

  .blog-wrapper-grid {
    margin: 0 auto;
    width: 100%;
    flex-direction: row;
  }
}
