
.team-container-title {
  font-family: var(--font-base);
  text-transform: capitalize;
  font-size: 11.5vw;
  color: whitesmoke;
  margin-bottom: 4vw;
  text-align: center;
}

.team-container-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.team-container-content li {
  color: whitesmoke;
  margin-bottom: 2vw;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .team-container {
    width: 25%;
    height: 20vw;
  }

  .team-container-title {
    font-size: 2.5vw;
    margin-bottom: 2vw;
  }
  .team-container-content {
    display: flex;
    flex-direction: column;
    text-align: center;
  }

  .team-container-content li {
    color: whitesmoke;
    margin-bottom: 1.5vw;
  }

  .team-container-content-name {
    display: inline-block;
    color: whitesmoke;
    text-decoration: none;
  }

  .team-container-content-name::after {
    content: "";
    display: block;
    width: 0;
    height: 1px;
    background: whitesmoke;
    transition: width 0.3s;
  }

  .team-container-content-name:hover::after {
    width: 100%;
  }
}
