.Modal {
  /* fixed position will always show modal in the top left corner */
  position: relative;
  z-index: 5;
  margin: 0 auto;
  top: -190vw;
  /* left: 5; */
  /* z-index to show modal even if it is used before some other elements */
  /* make modal fill whole window */
  width: 100%;
  /* add some background to blur content behind modal */
  background: rgba(255, 255, 255, 0.7);
  /* center content inside modal */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  backdrop-filter: blur(2px);
}

.Component {
  min-width: 200px;
  min-height: 100px;
  background-color: #f6f7f5;
  padding: 20px;
  margin-top: -10vw;
  border-top-left-radius: 15vw;
  border-bottom-right-radius: 30vw;
  
}

.Component span {
  color: #666;
  font-size: 6vw;
  margin-left: 3vw;
}

.modal-component-title {
  font-family: var(--font-base);
  text-transform: capitalize;
  font-size: 12.5vw;
  color: var(--primary-color);
  margin-bottom: 3vw;
  text-align: center;
}

.modal-component-content {
  font-size: 5vw;
  color: #666;
}
