.services-wrapper {
  margin: 0 auto;
  width: 90%;
  margin-top: 4vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

.services-content-wrapper {
  flex-direction: column;
  display: flex;
}

.services-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 100%;
  gap: 0.5vw;
  margin-top: 3vw;
}

.services-single-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 32%;
  transition: 0.3s linear;
  height: 30vw;
  background-color: #f6f7f5;
  border-top-left-radius: 1vw;
  border-bottom-right-radius: 3vw;
}


.services-single-content-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5vw;
  width: 10vw;
  height: 10vw;
  border: 1px solid var(--color-gray);
  border-radius: 50%;
}

.services-content-title {
  text-align: center;
  margin-top: 0.4vw;
  height: 6vw;
  /* display: none; */
  font-size: 3.3vw;
  /* color: var( --color-gray); */
  padding: 0.4vw;
}

.services-single-content-image-container img {
  width: 75%;
  height: auto;
  transition: 0.3s linear;
}

.service-content-container {
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 2vw;
  height: 50vh;
  text-align: center;
  transition: 0.3 ease-in-out;
  background-color: #f6f7f5;
  padding: 1vw;
  border-top-left-radius: 3vw;
  border-bottom-right-radius: 6vw;
  -webkit-box-shadow: 5px 5px 5px 5px #000000;
  box-shadow: 5px 5px 15px 5px #00000030;
}

.service-content-container-title {
  font-family: var(--font-base);
  color: var(--primary-color);
  font-size: 6vw;
  margin-bottom: 2vw;
  width: 80%;
}
.services-single-content-image-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5vw;
  width: 12vw;
  height: 12vw;
  border: 1px solid var(--color-gray);
  border-radius: 50%;
}

.service-content-container-info {
  color: var(--color-gray);
}

.active {
  background-color: var(--primary-color);
}

.active-title {
  color: whitesmoke;
}

.active-image-container img {
  filter: invert(69%) sepia(5%) saturate(2028%) hue-rotate(151deg)
    brightness(105%) contrast(93%);
  width: 65%;
}
 
.active-image-container {
  border: 1px solid white;
  background-color: white;
}

@media screen and (min-width: 768px) {
  .services-content-wrapper {
    flex-direction: row;
  }

  .services-single-content {
    width: 15%;
    height: 12vw;
  }

  .services-single-content-image-container {
    width: 4vw;
    height: 4vw;
  }

  .services-single-content:hover {
    background-color: var(--primary-color);
    cursor: pointer;
  }
  

  .services-single-content-image-container img {
    width: 70%;
    height: auto;
    transition: 0.3s linear;
  }

  .services-content-title {
    font-size: 1vw;
  }

  .service-content-container {
    width: 35%;
    margin-top: 4vw;
    height: 67vh;
  }

  .service-content-container-title {
    margin: 0 auto;
    text-align: center;
    text-align: center;
    font-size: 2.7vw;
    margin-bottom: 0vw;
  }

 
  
  .service-content-container-info {
    padding: 1vw;
    text-align: justify;
    text-justify: inter-word;
  }
  .services-single-content:hover .services-single-content-image-container {
    border: 1px solid white;
    background-color: white;
  }
  
  .services-single-content:hover .services-single-content-image-container img {
    filter: invert(69%) sepia(5%) saturate(2028%) hue-rotate(151deg)
      brightness(105%) contrast(93%);
    width: 65%;
  }
  
  .services-single-content:hover .services-content-title {
    color: whitesmoke;
  }
}

.service-content-container-modal {
  display: none;
}

@media only screen and (min-width: 760px) and (max-width: 1300px) {
  .services-wrapper {
    height: auto;
  }
  .services-content-wrapper {
    flex-direction: column;
    display: flex;
  }

  .services-content-title {
    font-size: 1.1vw;
  }

  .services-single-content {
    width: 12%;
    height: 12.5vw;
  }

  .service-content-container {
    margin: 0 auto;
    width: 80%;
    margin-top: 2vw;
    height: 30vh;
  }
  .service-content-container-modal {
    display: block;
  }
}
