.blog-wrapper-content {

}

.blog-wrapper-content-heading {
  color: rgb(60, 59, 59);
  font-style: italic;
  font-size: 6vw;
  margin-top: 7vw;
  margin-bottom: 4vw;
}

.blog-wrapper-content-text {
  color: var( --color-gray);
  font-size: 4.2vw;
}

.blog-ul {
  margin-left: 1vw;
}

.blog-ul li {
  list-style: none;
  margin-bottom: 1.4vw;
}

.blog-ul li::before {
  content: "•";
  color: #88c1d857;
}

.blog-ul li:first-child {
  margin-top: 2.5vw;
}

.blog-ul li:last-child {
  margin-bottom: 3vw;
}

@media screen and (min-width: 768px) {
  .blog-wrapper-content {
    margin-top: 2vw;
  }

  .blog-wrapper-content-heading {
    font-size: 2vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
  }

  .blog-wrapper-content-text {
    margin-bottom: 1.4vw;
    width: 96%;
    text-align: justify;
    text-justify: inter-word;
    font-size: 1.1vw;
    line-height: 1.3;
  }

  .blog-ul {
    margin-left: 3vw;
  }

  .blog-ul li {
    list-style: none;
    margin-bottom: 0.2vw;
  }

  .blog-ul li:first-child {
    margin-top: 0.5vw;
  }
  
  .blog-ul li:last-child {
    margin-bottom: 1vw;
  }

  .blog-wrapper-content-text {

  }
  .blog-wrapper-content-text p {
    margin-bottom: 0.5vw;
  }

}
