.single-blog-page-wrapper {
}

@media screen and (min-width: 768px) {
  .single-blog-page-wrapper {
    display: flex;
    flex-direction: column;
    /* width: 75%; */
    margin: 0 auto;
    padding-top: 4.5vw;
  }
}
