.about-us-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebedf6;
  margin-top: -1vw;
}

.about-us-content {
  display: flex;
  flex-direction: column-reverse;
}

.right-text-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  background: var(--primary-color);
  padding: 7vw;
}

.right-text-container h1 {
  color: var( --color-gray);
  text-align: center;
  font-size: 5.5vw;
  margin-bottom: 5vw;
}

.right-text-container p {
  margin-top: 1vw;
  text-align: justify;
  text-justify: inter-word;
}

.left-image-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: -5vw;
}

.about-us-image-wrapper {
  width: 90%;
  height: auto;
}

.about-us-image {
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .about-us-image {
    width: 100%;
    height: 100%;
    border-radius: 2vw;
  }
}

@media screen and (min-width: 768px) {
  .about-us-content {
    display: flex;
    flex-direction: row;
  }

  .right-text-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 50%;
    margin: 4vw;
    margin-left: -15vw;
    background: var(--primary-color);
    padding: 2vw 5vw 2vw 10vw;
    border-bottom-right-radius: 2vw;
    border-top-right-radius: 2vw;
  }

  .right-text-container h1 {
    font-size: 1.8vw;
    margin-bottom: 1vw;
  }

  .right-text-container p {
    font-size: 1.1vw;
  }

  .left-image-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 2vw;
  }

  .about-us-image-wrapper {
    width: 75%;
    height: auto;
  }
  .about-us-image {
    border-bottom-left-radius: 2vw;
    border-top-left-radius: 2vw;
  }
}
