.navbar {
  background: hsl(197, 51%, 69%);
  position: fixed;
  display: flex;
  width: 100%;
  font-size: 1.4rem;
  top: 10;
  z-index: 999;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  /* justify-content: center; */
}

.container {
  z-index: 1;
  width: 75%;
  max-width: 1300px;
  margin: 0 auto;
}

.navbar-logo {
  justify-self: start;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 4.5vw;
  height: 4.55vw;
}

.navbar-logo img {
  width: 100%;
  height: auto;
}

.nav-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: end;
}

.nav-item {
  height: 60px;
  border-bottom: 2px solid transparent;
}

.nav-item:hover {
  border-bottom: 2px solid hsl(196, 25%, 88%);
}

.nav-links {
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.fa-bars {
  color: #fff;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    /* height: 42vh; */
    position: absolute;
    top: 75px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
    justify-content: start;
    overflow: hidden;
    list-style-type: none;
  }

  .container {
    width: 80%;
  }

  .nav-menu.active {
    background: hsl(197, 51%, 69%);
    left: 0;
    opacity: 0.95;
    transition: all 0.6s ease;
    z-index: 1;
    border-bottom-right-radius: 10vw;
    border-bottom-left-radius: 10vw;
  }

  .nav-links {
    text-align: center;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    color: white;
    transform: scale(1.2);
    transition: all 0.3s ease;
  }

  .nav-item:hover {
    border: none;
  }

  .nav-item {
    /* width: 100%; */
    height: 5vw;
    margin-bottom: 5vw;
  }

  .navbar-logo {
    width: 12.5vw;
    height: 12.55vw;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0.8rem;
    right: 0;
    transform: translate(-100%, 0%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #fff;
    font-size: 2rem;
  }

  .nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 120px;
  }

  .save-hours {
    display: none;
  }
  .save-hours-mobile {
    display: block !important;
  }
  .save-hours-mobile {
    border: 2px solid whitesmoke;
    padding: 1.6vw;
    transition: 0.2s ease-in-out;
    border-radius: 0.4vw;
    color: #fff;
    margin-bottom: 7vw;
  }
}

.save-hours-mobile {
  display: none;
}

.save-hours {
  border: 2px solid whitesmoke;
  padding: 0.6vw;
  transition: 0.2s ease-in-out;
  border-radius: 0.4vw;
  color: whitesmoke;
}

.save-hours a {
  color: whitesmoke;
}

.save-hours:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 10px 13px -7px #00000037,
    0px 0px 10px 1px rgba(0, 0, 0, 0.44);
  box-shadow: 0px 10px 13px -7px #00000037, 0px 0px 10px 1px rgba(0, 0, 0, 0.44);
  transform: translateY(-3px);
}
