.section-reviews {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
  display: flex;
  flex-direction: column;
  margin-top: 15vw;
}

.title-reviews h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.title-reviews {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
}

.name {
  text-transform: capitalize;
}

.title-position {
  text-transform: capitalize;
}

.section-center-reviews {
  margin: 0 auto;
  width: 90%;
  /* have to have a height */
  height: 20rem;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
  flex-direction: column;
}

.person-img {
  border-radius: 50%;
  width: 16vw;
  height: 16vw;
  object-fit: cover;
  border: 3px solid #88c1d87b;
  /* box-shadow: 5px 5px 5px 0px #797a7b7b; */
  margin-right: 1vw;
}

.text-reviews {
  margin: 0 auto;
  margin-top: 2vw;
  margin-bottom: 1vw;
  line-height: 1.4;
  color: #222222;
}

.icon-reviews {
  font-size: 3rem;
  color: var(--primary-color);
}

.article-reviews {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.3s linear;
  margin-top: 8vw;
}

.article-reviews.activeSlide {
  opacity: 1;
  transform: translateX(0);
}

.article-reviews.lastSlide {
  transform: translateX(-100%);
}

.article-reviews.nextSlide {
  transform: translateX(100%);
}

.section-icon-container {
  z-index: 999;
}

.section-container-review-wrapper {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section-review-dots-container {
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.section-review-line-icon {
  font-size: 10vw;
  color: var( --color-gray);
}

.section-review-line-icon-active {
  color: #88c1d87b;
}

.section-review-line-icon:hover {
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .section-reviews {
    margin-top: 4vw;
  }
  .section-center-reviews {
    height: 17rem;
  }

  .person-img {
    width: 6vw;
    height: 6vw;
  }

  .article-reviews {
    margin-top: 1vw;
  }

  .section-review-line-icon {
    font-size: 3vw;
  }

  .section-review-line-icon-active {
    color: #88c1d87b;
  }
}

@media only screen and (min-width: 760px) and (max-width: 1300px) {
  .section-center-reviews {
    height: 13rem;
  }
  .article-reviews {
    margin-top: 2vw;
  }
}
