.blog-wrapper-container {
  margin: 0 auto;
  width: 80%;

}

.blog-wrapper-container-title {
  font-family: var(--font-base);
  text-transform: capitalize;
  font-size: 10.5vw;
  color: var(--primary-color);
  margin-top: 3vw;
  text-align: center;
}
.blog-wrapper-container-info {
  color: var( --color-gray);
  text-align: center;
}

@media screen and (min-width: 768px) {

  .blog-wrapper-container-title {
    font-size: 4vw;
  }
  
  .blog-wrapper-container-info {
    margin: 0 auto;
    margin-top: 2vw;
    margin-bottom: 2vw;
    width: 60%;
    text-align: center;
  }
}
