.price-list-wrapper {
  display: flex;
  flex-direction: column;
  padding-top: 35vw;
}

.price-list-wrapper-single {
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: 0 auto;
  margin-bottom: 7vw;
  border-radius: 0.3vw;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 4px 4px -2px rgba(0, 0, 0, 0.5);
}

@media screen and (min-width: 768px) {
  .price-list-wrapper {
    padding-top: 10vw;
  }

  .price-list-wrapper-single {
    width: 70%;
    margin-bottom: 2vw;
    overflow: hidden;
    transition: 0.2s ease-in-out;

  }

  .price-list-wrapper-single:hover  .price-list-wrapper-single-title {
    background: var(--primary-color);
    color:white;
  }
  .price-list-wrapper-single:hover  .price-list-headers-icon {
    color: white;
  }

}
