.team-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-content {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  width: 80%;
}
.team-single-doctor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.team-single-doctor-image-container {
  margin-top: 1.5vw;
  width: 60%;
}

.team-single-doctor-image-container img {
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
  transition: 0.1s linear;
  border-radius: 20vw;
}

.team-single-doctor-image-container img:hover {
  -webkit-filter: none;
  -moz-filter: none;
  -ms-filter: none;
  filter: none;
  cursor: pointer;
}

.team-content-name {
  display: inline-block;
  color: var( --color-gray);
  font-size: 1.3vw;
  margin-top: 1vw;
}

.team-content-name::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: var( --color-gray);
  transition: width 0.3s;
}

.team-content-name:hover::after {
  width: 100%;
}

@media screen and (max-width: 700px) {
  .team-content {
    flex-direction: column;
  }
  
  .team-single-doctor {
    margin-bottom: 5vw;
  }

  .team-single-doctor-image-container {
    width: 50%;
    margin-bottom: 2vw;
  }

  .team-content-name {
    font-size: 4vw;
  }
}
