.recommended-blog-heading {
  margin-top: 5vw;
}

.recommended-blog-heading p {
  color: var( --color-gray);
  font-family: var(--font-base);
  font-size: 10vw;
  margin-left: 5vw;
}

@media screen and (min-width: 768px) {
  .recommended-blog-heading {
    margin-top: 1vw;
  }
  .recommended-blog-heading p {
    font-size: 2.2vw;
    margin-top: 1vw;
    margin-left: 3vw;
  }
}
