.blog-page-wrapper {
  display: flex;
  flex-direction: column;
}
.blog-page-content {
}

@media screen and (min-width: 768px) {
  .blog-page-wrapper {
      padding-top: 7vw;
    flex-direction: row;
  }
  
}
