.patient-information-wrapper {
  display: flex;
  flex-direction: column;

  background-color: #f6f7f9;
}

.patien-information-content {
  display: flex;
  flex-direction: column;

}

.pation-information-content-wrapper {
  display: flex;
  flex-direction: column;
}
.partion-information-wrapper {
  display: flex;
  flex-direction: column;
 
}

.patien-information-image-container {
  width: 100%;
}

.pation-information-title {
  color: #666;
  background-color: #ffffff;
  margin: 0 auto;
  width: 90%;
  margin-bottom: 3vw;
  padding: 3.7vw;
  font-size: 4.vw;
  font-weight: bold;
}

.pation-information-icon {
  float: right;
  margin-right: 1vw;
}

.pation-information-title span {
  margin-right: 1.4vw;
}

.pation-information-content {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 5vw;
  color: rgb(123, 122, 122);
  font-size: 4.4vw;
}

.patien-information-image-container img {
  width: 100%;
  height: auto;
}

#scrollContainer
  > div.patient-information-wrapper
  > div
  > div.pation-information-content-wrapper
  > div.title-wrapper {
  font-size: 10vw;
  text-align: center;
  margin-top: 4vw;
  margin-bottom: 3vw;
}

@media screen and (min-width: 768px) {
  .patient-information-wrapper {
  }

  .patien-information-content {
    margin-top: 4vw;
    width: 100%;
    flex-direction: row;
  }

  .pation-information-content-wrapper {
    width: 50%;
    margin: 0 auto;
    margin-left: 5vw;
  }
  .partion-information-wrapper{
      display: flex;
      flex-direction: column;
  }

  #scrollContainer
    > div.patient-information-wrapper
    > div
    > div.pation-information-content-wrapper
    > div.title-wrapper {
    margin-top: 0vw;
    margin-bottom: 1vw;
    font-size: 5vw;
    text-align: center;
  }

  .pation-information-title {
    color: #666;
    background-color: #ffffff;
    width: 90%;
    margin-bottom: 1vw;
    padding: 0.7vw;
    font-size: 1.2vw;
    font-weight: bold;
  }

  .pation-information-title:hover {
    color: var(--primary-color);
    cursor: pointer;
  }

  .pation-information-title span {
    margin-right: 0.4vw;
  }

  .pation-information-content {
    /* margin-left: 4vw; */
    margin-bottom: 1vw;
    font-size: 1vw;
    line-height: 1.5;
  }

  .patien-information-image-container {
    width: 50%;
  }

  .patien-information-image-container-big {
    transition: 0.3s ease-in-out;
  }

  .patien-information-image-container img {
    margin-bottom: 3vw;
    border-left: 0.8vw solid var(--primary-color);
    border-top: 0.8vw solid var(--primary-color);
    border-bottom: 0.8vw solid var(--primary-color);
  }
}
