.back-icon-container svg {
  color: #88c1d8;
  font-size: 9vw;
  margin-left: 4vw;
}

.back-icon-container-info {
  color: var( --color-gray);
}

.back-icon-container-info {
  display: none;
}

@media screen and (min-width: 768px) {
  .back-icon-container {
    width: 2vw;
  }

  .back-icon-container svg {
    font-size: 2vw;
    margin-left: 0vw;

  }
  .back-icon-container-info {
    display: block;
  }

  .tooltip {
    position: relative;
    display: inline-block;
  }

  .tooltip .back-icon-container-info {
    font-size: 0.9vw;
    visibility: hidden;
    background-color: #88c1d8;
    color: #fff;
    width: 14vw;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    position: absolute;
    top: -0.7vw;
    left: 105%;
    z-index: 1;
    transition: 0.2s ease-in-out;
  }
  .tooltip:hover .back-icon-container-info {
    visibility: visible;
  }
}
