.blog-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-info {
  margin: 0 auto;
  color: var( --color-gray);
  font-size: 5vw;
  width: 80%;
  text-align: center;
  margin-bottom: 8vw;
}

.blog-info a {
  color: var(--primary-color);
}

.blog-content {
  display: flex;
  flex-direction: column;
  margin-bottom: 5vw;
  text-align: center;
}

.blog-content-single {
  margin-bottom: 10vw;
}

.blog-content-single-image-container {
  /* width: 85%; */
  margin: 0 auto;
  width: 90%;
  height: 30vh;
}

.blog-content-single-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6vw;
}

.blog-content-single-title {
  margin: 0 auto;
  font-family: var(--font-base);
  font-size: 8vw;
  color: var( --color-gray);
  width: 70%;
  text-align: center;
  margin-top: 1vw;
  margin-bottom: 2.5vw;
}

.blog-content-single-content {
  margin: 0 auto;
  color: #707070;
  font-size: 3.9vw;
  width: 80%;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .blog-info {
    font-size: 1.3vw;
    margin-top: -0.4vw;
    margin-bottom: 2vw;
  }

  .blog-content {
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 95%;
    margin-bottom: 0vw;
  }

  .blog-content-single {
    margin-bottom: 3vw;
    width: 32%;
  }

  .blog-content-single-image-container {
    width: 95%;
    height: 16vw;
    overflow: hidden;
    border-radius: 1.5vw;
  }

  .blog-content-single-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 1.5vw;
    transition: 0.4s ease-in-out;
  }

  .blog-content-single-image-container:hover img {
    transform: scale(1.1);
  }

  .blog-content-single-title {
    font-size: 2vw;
    margin-bottom: 1vw;
    height: 4vw;
  }
  .blog-content-single-content {
    font-size: 0.9vw;
    width: 90%;
  }
  .blog-content-single-image-container-content {
    height: 10vw;
  }
}
