.recommended-social-media-section {
  margin-bottom: 10vw;
  margin-top: 7vw;
}

.recommended-social-media-wrapper {
  display: flex;
  flex-direction: column;
}
.recommended-social-media-facebook {
  display: flex;
  background-color: #516eab;
  width: 80%;
  padding: 1.5vw;
  color: white;
  text-align: center;
  margin-bottom: 2.5vw;
  margin-top: 2.5vw;
  text-transform: capitalize;
}

.recommended-social-media-instagram {
  display: flex;

  background: linear-gradient(
    45deg,
    #f09433 0%,
    #e6683c 25%,
    #dc2743 50%,
    #cc2366 75%,
    #bc1888 100%
  );
  width: 80%;
  padding: 1.5vw;
  color: white;
  text-align: center;
  text-transform: capitalize;
}

.recommended-social-media-icon {
  margin-right: 1.3vw;
  font-size: 4.1vw;
}

@media screen and (min-width: 768px) {
  .recommended-social-media-section {
    margin-bottom: 1vw;
    margin-top: 1vw;
  }

  .recommended-social-media-wrapper {
    margin-left: 1vw;
    margin-top: 1vw;
  }

  .recommended-social-media-facebook {
    width: 60%;
    padding: 0.5vw;
    margin-bottom: 0.5vw;
    margin-top: 0vw;
  }

  .recommended-social-media-instagram {
    width: 60%;
    padding: 0.5vw;
  }

  .recommended-social-media-icon {
    margin-right: 0.3vw;
    font-size: 1.1vw;
  }
}
