.single-blog-page-content {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-bottom: 10vw;
}
.single-blog-page-content:first-child{
  padding-top: 25vw;

}

.single-blog-page-image-container {
}

.single-blog-page-image-container img {
  width: 100%;
  height: auto;
}

.single-blog-page-content-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.single-blog-page-content-container-title {
  color: var(--primary-color);
  font-family: var(--font-base);
  text-align: center;
  font-size: 7vw;
}

.single-blog-page-content-container-info {
  color: var( --color-gray);
  font-size: 4vw;
}

@media screen and (min-width: 768px) {
  .single-blog-page-content {
    margin-bottom: 5vw;
    flex-direction: row;
  }
  .single-blog-page-content:first-child{
    padding-top: 0vw;
  
  }

  .single-blog-page-content:nth-child(even) {
    display: flex;
    flex-direction: row-reverse;
  }

  .single-blog-page-image-container {
    width: 70%;
    overflow: hidden;
    object-fit: cover;
  }

  .single-blog-page-image-container img {
    transition: 0.4s ease-in-out;

  }

  .single-blog-page-image-container:hover img {
    transform: scale(1.2);
  }
  .single-blog-page-image-container img:hover::after{
      content:'U+02192';
      color: red;
      z-index: 9999;
  }

  .single-blog-page-content-container {
    width: 30%;
    margin-right: 1vw;
    margin-left: 1vw;
  }

  .single-blog-page-content-container-title {
    font-size: 2vw;
   display: inline-block;
  }

  .single-blog-page-content-container-info {
    font-size: 1.1vw;
    margin-top: 1vw;
  }
}
