
.top-image {
  padding-top: 20vw;
}

.blog-wrapper-image-container-image {
  width: 100%;
  height: auto;
}

.blog-wrapper-image-container-image {
  /* height: 20vw; */
  /* object-fit: cover; */
}

@media screen and (min-width: 768px) {
  .blog-wrapper-image-container-image {
  }
  .top-image {
    padding-top: 0;
  }
}
