.footer-followUs-wrapper {
  width: 90%;
  height: 90vh;
}

.footer-followUs-wrapper-title {
  font-family: var(--font-base);
  text-transform: capitalize;
  font-size: 11.5vw;
  color: whitesmoke;
  margin-bottom: 4vw;
  text-align: center;
}

.footer-followUs-wrapper-content {
  display: flex;
  text-align: center;
  gap: 3vw;
}

.footer-followUs-wrapper-content a {
  align-items: center;
  color: whitesmoke;
  width: 50%;
}

.footer-followUs-wrapper-content svg {
  width: 10vw;
  height: auto;
  transition: 0.2s ease-in-out;
}

@media screen and (min-width: 768px) {
  .footer-followUs-wrapper {
    width: 25%;
    height: 20vw;
  }

  .footer-followUs-wrapper-content {
    display: flex;
    text-align: center;
    gap: 3vw;
  }

  .footer-followUs-wrapper-title {
    font-size: 2.5vw;
    margin-bottom: 2vw;
  }

  .footer-followUs-wrapper-content a {
    align-items: center;
    color: whitesmoke;
    /* width: 50%; */
  }
  .footer-followUs-wrapper-content a:hover svg {
    color: var(--primary-color);
    width: 3.3vw;
  }

  .footer-followUs-wrapper-content svg {
    width: 3vw;
    height: auto;
    transition: 0.2s ease-in-out;
  }
 
}
