.shortcuts-wrapper {
}

.shortcuts-wrapper-title {
  font-family: var(--font-base);
  text-transform: capitalize;
  font-size: 11.5vw;
  color: whitesmoke;
  margin-bottom: 4vw;
  text-align: center;
}

.shortcuts-content {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.shortcuts-content li {
  color: whitesmoke;
  margin-bottom: 2vw;
  list-style: none;
}

@media screen and (min-width: 768px) {
  .shortcuts-wrapper {
    width: 25%;
    height: 20vw;
  }

  .shortcuts-wrapper-title {
    font-size: 2.5vw;
    margin-bottom: 2vw;
  }

  .shortcuts-content li {
    margin-bottom: 1vw;
    transition: 0.2s ease-in-out;
    width: auto;
  }

  .shortcuts-content p:hover {
    cursor: pointer;
    color: var(--primary-color);
  }
  .shortcuts-content p{
    display: inline-block;

  }
}
