.recommended-blogs-content{
  margin-bottom: 5vw;
}

.recommended-blogs-wrapper {
  display: flex;
  align-items: center;
  margin-left: 2vw;
  margin-bottom: 5vw;
  margin-top: 2vw;
}
.recommended-blogs-image-container {
  width: 100vw;
  height: 50vw;
}

.recommended-blogs-image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.recommended-blogs-title {
  color: var( --color-gray);
  margin-left: 4vw;
  font-size: 4vw;
  width: 50%;
}

@media screen and (min-width: 768px) {
 
  .recommended-blogs-wrapper {
    display: flex;
    align-items: center;
    margin-left: 2vw;
    margin-bottom: 2vw;
    margin-top: 2vw;
  }

  .recommended-blogs-image-container {
    width: 7vw;
    height: 7vw;
  }

  .recommended-blogs-title {
    width: 50%;
    margin-left: 1vw;
    font-size: 1vw;

  }
  
}
