@media screen and (min-width: 768px) {
  .doctor-wrapper {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    width: 80%;
  }
}
