@import url("https://fonts.googleapis.com/css2?family=Cormorant+Upright:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&display=swap");

@font-face {
  font-family: "PHCond";
  src: local("PHCond"), url(./assets/font/PH600Cond.otf) format("opentype");
}

@font-face {
  font-family: "CalibriRegular";
  src: local("CalibriRegular"),
    url(./assets/font/calibri-regular.ttf) format("opentype");
}
@font-face {
  font-family: "CalibriBold";
  src: local("CalibriBold"),
    url(./assets/font/calibri-bold.ttf) format("opentype");
}
:root {
  --font-base: "PHCond";
  --font-alt: "CalibriRegular", sans-serif;
  --primary-color: #88c1d89f;
  --color-gray: #666;
  --color-white: #ffffff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

body {
  font-family: CalibriRegular;
}

a {
  color: unset;
  text-decoration: none;
}

/* .slide-bottom {
  -webkit-animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(-25%);
    transform: translateY(-25%);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
} */

