.contacts-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ebedf6;
  margin-top: -1vw;
}

.contacts-wrapper-container {
  display: flex;
  flex-direction: column;
}

.contacts-content {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;
}

.contacts-content p {
  font-size: 4.5vw;
  color: var( --color-gray);
  margin-bottom: 2vw;
}

.contacts-content-icon svg {
  margin-right: 2.5vw;
  font-size: 6.4vw;
  color: #88c1d8;
}

.contacts-content-small {
  font-size: 3.5vw !important;
}

.contacts-map-container {
  width: 100%;
  margin: 0 auto;
  height: 40vh;
}

@media screen and (min-width: 768px) {
  .contacts-wrapper {
    height: 80vh;
  }

  .contacts-wrapper-container {
    display: flex;
    flex-direction: row;
    margin-top: 2vw;
    width: 90%;
  }

  .contacts-content {
    width: 50%;
    justify-content: center;
  }

  .contacts-content p {
    font-size: 1.3vw;
    margin-bottom: 1vw;
  }

  .contacts-content-a:hover p {
    transition: 0.2s ease-in-out;
  }

  .contacts-content-a:hover p {
    color: #88c1d8;
  }

  .contacts-content-icon svg {
    margin-right: 0.5vw;
    font-size: 1.4vw;
  }

  .contacts-content-small {
    font-size: 1vw !important;
    width: 70%;
  }

  .contacts-map-container {
    margin: 0 auto;
    width: 50%;
    height: 50vh;
  }
}
