.slider-section {
  height: 100vh;
  max-height: 1100px;
  position: relative;
  overflow: hidden;
}

.hero-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.hero-slide {
  z-index: 1;
  width: 100%;
  height: 100%;
}

.hero-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  animation: demo 10s ease-in-out;

}

@keyframes demo {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.25);
  }
}

.hero-image::before {
  content: "";
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100vh;
  bottom: 0vh;
  left: 0;
  overflow: hidden;
}

.hero-content {
  position: relative;
  z-index: 10;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 90%;
  height: 100vh;
  color: #fff;
}

.hero-content h1 {
  text-shadow: 5px 5px 20px rgba(0, 0, 0, 1);
  text-align: center;
  font-size: 7vw;
  padding: 5vw;
  background-color: #23242469;
  border-radius: 1vw;
  margin-bottom: 30vw;
}

.hero-content p {
  margin-bottom: 1.2rem;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
}

.slider-buttons {
  position: absolute;
  bottom: 10px;
  right: 50px;
  display: flex;
  z-index: 10;
}

.arrow-buttons {
  width: 50px;
  height: 50px;
  color: #fff;
  background: #232424;
  border-radius: 50px;
  padding: 10px;
  margin-right: 1rem;
  user-select: none;
  transition: 0.3s;
}

.arrow-buttons:-webkit-any-link {
  cursor: none;
}

.arrow-buttons:hover {
  background: var(--primary-color);
  transform: scale(1.05);
}

@media screen and (min-width: 768px) {
  .hero-content {
    position: relative;
    z-index: 10;
    margin: 0 auto;
    display: flex;
    justify-content: flex-end;
    width: 50%;
    height: 100vw;
    color: #fff;
    margin-top: 5vw;
  }

  .hero-content h1 {
    text-align: center;
    font-size: 2vw;
    padding: 2vw;
  }

  .hero-content p {
    margin-bottom: 1.2rem;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.8);
  }
  .arrow-buttons {
    cursor: pointer;
  }
}
